/* css reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    box-sizing: border-box;
}

body{
    font-family: 'Libre Baskerville', serif;
    background: rgb(2,0,36);
    background: linear-gradient(356deg, rgba(2,0,36,1) 0%, rgba(123,123,208,1) 35%, rgba(0,212,255,1) 100%);
    font-weight: 500;
}


.intro{
    margin: 40px 0 10px 0;
    font-size: 40px;
    color: rgb(45, 45, 61);
    text-align: center;     
}

.intro-extra{
    margin: -5px 0;
    font-size: 20px;
    color:rgb(45, 45, 61);
    text-align: center;    
}

.container{
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto;
}

.trio{
    display: flex;
    justify-content:space-between;
}

.card{
    text-align: center;
}

.card-image{
    margin-bottom: 25px;
    cursor: pointer;
    position: relative;
}

.card-image img{
    border-radius: 50px;
}

.card-image:hover{
    transform: translateY(-5px);
}

.card-text{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    color:rgb(167, 209, 243)
}

.score{
    display: flex;
    justify-content: center;
    margin:40px 0;
    font-size: 50px;
}

.score div{
    padding: 20px;
}

.message {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.dashboard{
   display: flex;
   justify-content: center;
   margin-top: 40px;
}

.dashboard-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.title-side{
    padding: 40px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-bottom: 10px;
}

.dashboard p{
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
}

